<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed%>
        <input type="checkbox" id="<%= task.id %>" name="<%= task.id %>" checked>
      <% else %>
        <input type="checkbox" id="<%= task.id %>" name="<%= task.id %>" >
      <% end %>
      <label for="<%= task.id %>"><%= link_to task.title, task_path(task) %></label>

      <%= link_to  task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-dumpster-fire"></i>
       <% end %>

    </li>
  <% end %>
</ul>

<li><%= link_to "Add a new task", new_task_path%></li>
